VITE_APP_URL="MY_APP_URL"
VITE_PROXY_PORT=987654
VITE_CONFERENCE_CODE=EC2026
VITE_CONFERENCE_API_KEY=sdgw676542534u6jknbgefwraehstrjydmhgxnfbdrw3tgehsng
VITE_BASE_URL=https://url.co.za
VITE_ADMIN_PASSWORD=jogeda-admin

# Supabase Credentials
VITE_SUPABASE_URL=https://wffetbtogflolxctnilc.supabase.com
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9
VITE_SUPABASE_FUNCTIONS_URL=https://wffetbtogflolxctnilc.supabase.co/functions/v1

#XS Card Links
VITE_GOOGLE_PLAY_URL="https://play.google.com/store/apps/details?id=com.p.zzles.xscard"
VITE_APPLE_APP_URL="https://apps.apple.com/us/app/xs-card/id6742452317"


# Google Analytics (GA4) - Production only
# Set VITE_GA_ENABLED=true only in production.
VITE_GA_ENABLED=false #THIS SHOULD BE FALSE IN DEVELOPMENT AND STAGING, ONLY TRUE IN PRODUCTION
VITE_GA_MEASUREMENT_ID=G-TYT9D988Z2 #THIS IS NOT REAL, IT IS JUST A PLACEHOLDER
VITE_GA_ALLOWED_HOSTS=localhost,localhost:3000,www.localhost:3000,www.localhost,joegqabiinvestment.co.za #THESE ARE THE HOSTS TO BE USED ONLY IN DEVELOPMENT AND STAGING, IN PRODUCTION, THE HOSTS ARE joegqabiinvestment.co.za,www.joegqabiinvestment.co.zanpm run server